footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  color: white;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.7);
  margin: 0 auto;
  width: 65%;
  padding: 0 20;
  text-align: center;
  margin-top: 20px;
}
